@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* --- Sidebar Custom --- */
@layer base {
    .sidebar ul, 
    .sidebar li,
    .sidebar .nav-item {
        list-style: none !important;
        list-style-type: none !important;
        display: block !important; 
        margin-left: 0 !important;
    }

    .sidebar .nav {
        padding-left: 0 !important;
    }
}